{% extends 'base.html' %}
{% load static %}
{% block title %}Edit account{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static "css/edit_account_details.css" %}">{% endblock link %}
{% block content %}
<div class="wrapper"> 
    <div class="address-box">
       
        <form action="{% url 'users:update_account_details' %}" method="post">
            {% csrf_token %}
            <h1 class="text1 text_40px black weight_700">Изменение информации</h1>
           
               
                   
                        
                <label for="{{ form.first_name.id_for_label }}" class='text3 text_24px black'>Имя</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <div class="error">{{ form.first_name.errors }}</div>
            {% endif %}
        
            <label for="{{ form.address1.id_for_label }}" class='text4 text_24px black'>Адрес</label>
            {{ form.address1 }}
            {% if form.address1.errors %}
                <div class="error">{{ form.address1.errors }}</div>
            {% endif %}
        
            <label for="{{ form.phone.id_for_label }}" class='text5 text_24px black'>Телефон</label>
            {{ form.phone }}
            {% if form.phone.errors %}
                <div class="error">{{ form.phone.errors }}</div>
            {% endif %}
       
                <button type="submit" class="button link text_24px black">Обновить</button>
                <a href="{% url "users:profile" %}" class="link text_16px black">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}