{% extends 'base.html' %}
{% load static %}
{% block title %}Log In{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static "css/login.css" %}">{% endblock link %}
{% block content %}
<div class="wrapper"> 
    <h1 class='text1 text_40px black weight_700'>Log In</h1>
    <form method="post" class="reg-form">
        {% csrf_token %}
       
            <label for="{{ form.username.id_for_label }}" class='text2 text_24px black'>Email</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
       
            <label for="{{ form.password.id_for_label }}" class='text3 text_24px black'>Password</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
       
        <button type="submit" class='text4 text_24px black'>Log In</button>
        <a href="{% url 'users:register' %}" class="link text_16px black">Don't have an account? Register</a>
    </form>
 </div>
{% endblock %}