{% extends 'base.html' %}
{% load static %}
{% block title %}Create Account{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static "css/register.css" %}">{% endblock link %}
{% block content %}
    <h1  class='text1 text_40px black weight_700'>Create Account</h1>
    <form method="post" class="reg-form">
        {% csrf_token %}
        
            <label for="{{ form.first_name.id_for_label }} " class='text2 text_24px black'>First Name</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <div class="error">{{ form.first_name.errors }}</div>
            {% endif %}
        
        
           
        
            <label for="{{ form.email.id_for_label }}" class='text3 text_24px black'>Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        
            <label for="{{ form.password1.id_for_label }}" class='text4 text_24px black'>Password</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="error">{{ form.password1.errors }}</div>
            {% endif %}
        
            <label for="{{ form.password2.id_for_label }}" class='text5 text_24px black'>Confirm Password</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors }}</div>
            {% endif %}
       
            {{ form.marketing_consent1 }}
            <label for="{{ form.marketing_consent1.id_for_label }}" class='text6 text_12px black'>
                Я принимаю пользовательское соглашение.
            </label>
            {% if form.marketing_consent1.errors %}
                <div class="error">{{ form.marketing_consent1.errors }}</div>
            {% endif %}
        
        
       
        <button type="submit">Create</button>
        <a href="{% url 'users:login' %}" class="link text_16px black">Already registered? Log in</a>
    </form>
{% endblock %}