@font-face {
    font-family: "Euclid";
    src: url("../fonts/Euclid\ Flex/euclid.ttf") format("truetype");
}


.grey {
    color: #707070;
}

.full_black {
    color: black;
}

.black {
    color: #1A1A1A;
}

.green {
    color: #179C49;
}

.white {
    color: white;
}

.weight_500 {
    font-weight: 500;
}

.weight_600 {
    font-weight: 600;
}

.weight_700 {
    font-weight: 700;
}

.text_10px {
    font-size: 1.0rem;
}

.text_12px {
    font-size: 1.2rem;
}

.text_14px {
    font-size: 1.4rem;
}

.text_16px {
    font-size: 1.6rem;
}

.text_18px {
    font-size: 1.8rem;
}

.text_20px {
    font-size: 2.0rem;
}

.text_24px {
    font-size: 2.4rem;
}

.text_32px {
    font-size: 3.2rem;
}

.text_40px {
    font-size: 4.0rem;
}

:root {}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    box-sizing: border-box;
    border: 0;
}


.wrapper {
    max-width: 1260px;
    margin: 0 auto;
}

header {
    border-bottom: 2px solid #e0e0e0;
    padding: 10px;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header-link {
    /* width: 132px;
    height: 40px; */
}

.header-logo {
    height: 52px;
    border-radius: 8px;
    border: 1px solid grey;
}

.header-search {
    width: 783px;
    height: 46px;
    background-color: greenyellow;
}

.cart-logo {
    width: 42px;
    height: 52px;
}

.cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 52px;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 52px;
}

.login-img {
    width: 24px;
    height: 24px;
}

main {
    padding: 100px 0px;
}


footer {
    background-color: #f5f5f5;
    padding: 10px;
}

.footer-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 2px solid #e0e0e0;
}

.footer-line div {
    display: flex;
    gap: 10px
}

.footer-link {
    display: block;
    width: 103px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.footer-logo {
    display: block;
    height: 36px;

    border-radius: 8px;
    border: 1px solid grey;
}



.footer-contact-link1 {
    margin-right: 10px;
}



.footer-messenger {
    display: block;
    background-color: white;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    padding: 8px;
}