* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.wrapper {
    max-width: 1260px;
    margin: 0 auto;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    width: 132px;
    height: 40px;
}

.header-search {
    width: 783px;
    height: 46px;
    background-color: greenyellow;
}

.cart-logo {
    width: 42px;
    height: 52px;
}


.login {
    display: inline-flex;
    flex-direction: column;
    width: 42px;
    height: 52px;
}

.login-img {
    width: 24px;
    height: 24px;
}

main {
    padding: 100px;
}


footer .wrapper {
    background-color: #f5f5f5;
}

footer .wrapper>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 120px;
    height: 33px;
}


.footer-img1 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.footer-img2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.footer-messenger {
    width: 40px;
    height: 40px;
}