.block {
    display: flex;

}

.part1 {
    width: 50%;
    padding-left: 15px;
    padding-right: 50px;
}

.block6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.part2 {
    width: 50%;
    padding: 0 15px;
}

.text1 {
    margin-bottom: 16px;
}

.text2 {
    margin-bottom: 10px;
}

.phone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.text4 {
    margin-bottom: 8px;
}

.email_input {
    padding-left: 20px;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 12px;
    margin-bottom: 16px;
}

.email_input::placeholder {
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 1.4rem;
}

.text1 {
    margin-bottom: 16px;
}

.block1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}


.block2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.block3 {
    width: 100%;
    height: 87px;
    background-color: #F0F0F4;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 12px;
}

.block3>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.block4 {
    display: block;
    width: 100%;
    height: 87px;
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 26px;
}

.block4>textarea {
    display: block;
    width: 500px;
    height: 38px;
    background-color: transparent;
    resize: none;
}

.block4>textarea:focus {
    outline: none;

}

.button {
    display: block;
    width: 100%;
    height: 57px;
    background-color: #179C49;
    border-radius: 12px;
}

.block5 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    button {
        background-color: transparent;
        gap: 4px;
        display: flex;
        align-items: flex-end;
    }
}

.list {
    display: flex;
    flex-direction: column;
}

.el {
    display: flex;
    padding: 16px 8px;
    border-bottom: 2px solid #BCBCC3;
}

.el_text {
    max-width: 360px;
}

.el_link {
    margin-right: 16px;
}

.el_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.underblock1 {
    display: flex;
    justify-content: space-between;

    button {
        background-color: transparent;
        width: 20px;
        height: 20px;
    }
}

.underblock2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector {
    display: flex;
    width: 126px;
    height: 32px;
    background-color: #179C49;
    border-radius: 8px;
}

.selector button {
    width: 30px;
    height: 32px;
    background-color: transparent;

}

.selector div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 32px;
    border-right: 1px solid rgba(255, 255, 255, 0.171);
    border-left: 1px solid rgba(255, 255, 255, 0.171);
}





.link_img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}