.block {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
}

.part1 {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part2 {
    /* width: 530px;
    height: 300px; */
}

.item-name {
    margin-bottom: 10px;
}

.item-quantity {
    margin-bottom: 10px;
}

.item-price {
    margin-bottom: 20px;
}

.item-button {
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
    background-color: #179c49;
    border-radius: 12px;
}

.form5>div {
    display: none;
}

.description {
    max-height: 260px;
    overflow-y: auto;
}

.block2 {
    display: flex;
    flex-direction: column;

    row-gap: 10px;
    margin-bottom: 50px;

    /* div {
        max-width: 300px;
    } */
}



#grid-position {
    grid-row: span 2;
    grid-column: span 3;
}



.list {
    padding: 10px;
    width: 1260px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 37px;
    row-gap: 24px;
    background-color: #f9f9f9;
    border-radius: 12px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 391px;
    border-radius: 12px;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
}

.item-img-link {

    height: 45%;
}

.item>div {

    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 0px 12px 12px;
    background-color: white;
    padding: 12px 16px 8px 16px;
}

.item-name {
    display: block;
    max-width: 234px;
}

.item-quantity {
    margin-top: 6px;
    margin-bottom: 16px;
}

.item-price {}

.form1>div {
    display: none;
}

.item-button {
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
    width: 253px;
    height: 48px;
    background-color: #179c49;
    border-radius: 12px;
}

.text15 {
    padding-left: 10px;
    margin-bottom: 5px;
}