.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    input {
        border: 1px solid black;
        font-size: 1.6rem;
    }
}

.link {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

.button {
    display: block;
    margin: 0 auto;
}