.list {
    padding: 10px;
    width: 1260px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 37px;
    row-gap: 24px;
    background-color: #f9f9f9;
}

.item {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 391px;
    background-color: aqua;
    border-radius: 12px;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
}

.item-img-link {
    
    height: 40%;
}

.item>div {
    
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 0px 12px 12px;
    background-color: white;
    padding: 12px 16px 8px 16px;
}

.item-name {
    display: block;
    max-width: 234px;
}

.item-quantity {
    margin-top: 6px;
    margin-bottom: 16px;
}

.item-price {}

.item-button {
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
    width: 253px;
    height: 48px;
    background-color: #179c49;
    border-radius: 12px;
    border: none;
}