.list {
    padding: 0 10px;
    width: 1260px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    background-color: #f9f9f9;
}

.item {
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 391px;
    background-color: aqua;
    border-radius: 12px;
}

.item img {
    /* height: 40%; */
    flex-grow: 2;
    border-radius: 12px 12px 0px 0px;
}

.item>div {
    /* height: 60%; */
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 4px; */
    border-radius: 0px 0px 12px 12px;
    background-color: white;
    padding: 12px 16px 8px 16px;
}

.item-name {
    margin-bottom: 6px;
}

.item-quantity {
    margin-bottom: 16px;
}

.item-price {}

.item-button {
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
    width: 253px;
    height: 48px;
    background-color: #179c49;
    border-radius: 12px;
    border: none;
}