

.text1 {
    text-align: center;
}

.reg-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    gap: 10px;

    input {
        border: 1px solid grey;
    }
}

.error{
    background-color: aqua;
    color: brown;
}