.block {
    background-color: #F8F8FA;
    width: 100%;
    padding: 10px 0px 35px 0px;


}

.block>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block1 {
    display: flex;
    gap: 25px;

}

.avatar {
    border-radius: 50%;
}

.block1-link {
    position: absolute;
    margin-left: 72px;
    width: 31px;
    height: 30px;


}



.logout-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.banner {
    height: 100px;
    align-self: center;
}



.block11 {
    display: flex;
    gap: 10px;
}