h1 {
    text-align: center;
    margin-bottom: 20px;
}

.block7 {
    /* background-color: #707070; */


}

.reg-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    gap: 10px;

    input:not(:last-child) {
        width: 336px;
        height: 45px;
        margin: 0 auto;
        font-size: 1.6rem;
        border: 1px solid grey;
        background-color: #f5f5f5;
        color: black;
        border: none;
        border-radius: 12px;
        padding-left: 10px;

    }


}

.error ul li {
    color: red;
    font-size: 1.6rem;
}

.button {
    background-color: #c2c2c2;
    width: 336px;
    height: 55px;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 10px;
}

.text6 {
    width: 280px;
    margin: 0 auto;
}

#checkbox-input-register {
    width: 50px;
    height: 50px;
}